# =====================================
# System clock (on-board oscillator).
# =====================================
NET "clk50_i"         	  TNM_NET = "clk50";
TIMESPEC "TS_clk50_i" 	 = PERIOD "clk50"        50MHz HIGH 50%;

VOLTAGE = 0.95;

# =====================================
# A/D converter clock, external.
# =====================================
# AC 
NET "lvds_dclk_a_p_i" TNM_NET = "lvds_dclk_a_p_i";
TIMESPEC TS_lvds_dclk_a_p_i = PERIOD "lvds_dclk_a_p_i" 5 ns HIGH 50%;

# =====================================
# Other timing specs.
# =====================================
#NET "ad_interface/data_b_reg1<*>" MAXDELAY = 2 ns;
#timespec ts_non = from FFS to PADS 10 ns; 

# =====================================
# Timing Ignore
# =====================================
NET dip_i* TIG;
NET F_TBD1* TIG;



# =====================================
# Pin mapping
# =====================================   
NET "F_TBD1_p" LOC = H8  | IOSTANDARD = "LVCMOS25";
NET "F_TBD1_n" LOC = J8  | IOSTANDARD = "LVCMOS25";

NET "lvds_trig_vector_1_p_i" LOC = B12 | IOSTANDARD = "LVDS_25";  
NET "lvds_trig_vector_1_n_i" LOC = C12 | IOSTANDARD = "LVDS_25";  
NET "lvds_trig_vector_2_p_i" LOC = C11 | IOSTANDARD = "LVDS_25";  
NET "lvds_trig_vector_2_n_i" LOC = D11 | IOSTANDARD = "LVDS_25"; 
   
NET "SCK_i"    LOC = W6 | IOSTANDARD = "LVCMOS25"; # FCommand 0
NET "SSEL_i"   LOC = W5 | IOSTANDARD = "LVCMOS25"; # FCommand 1
NET "MOSI_i"   LOC = Y4 | IOSTANDARD = "LVCMOS25"; # FCommand 2
NET "MISO_o"   LOC = W4 | IOSTANDARD = "LVCMOS25"; # FCommand 3

NET "clk50_i" LOC = AC11 | IOSTANDARD = "LVCMOS25"; 

NET "led_o<0>" LOC = E18 | IOSTANDARD = "LVTTL";
NET "led_o<1>" LOC = D18 | IOSTANDARD = "LVTTL";
NET "led_o<2>" LOC = D16 | IOSTANDARD = "LVTTL";
NET "led_o<3>" LOC = D15 | IOSTANDARD = "LVTTL";

NET "dip_i<0>" LOC = AF22 | IOSTANDARD = "LVCMOS25" | PULLUP;
NET "dip_i<1>" LOC = AE20 | IOSTANDARD = "LVCMOS25" | PULLUP;
NET "dip_i<2>" LOC = AF20 | IOSTANDARD = "LVCMOS25" | PULLUP;
NET "dip_i<3>" LOC = AF19 | IOSTANDARD = "LVCMOS25" | PULLUP;
NET "dip_i<4>" LOC = AF18 | IOSTANDARD = "LVCMOS25" | PULLUP;
NET "dip_i<5>" LOC = AF17 | IOSTANDARD = "LVCMOS25" | PULLUP;

#NET "eeprom_1wire" LOC = E17 | IOSTANDARD = "LVTTL";   

# ============= AFE CTRL =============
NET "afe_relay_ch1_o" LOC = D14 | IOSTANDARD = "LVTTL";
NET "afe_relay_ch2_o" LOC = D13 | IOSTANDARD = "LVTTL";
NET "dcamp_pdwn_ch1_o" LOC = E12 | IOSTANDARD = "LVTTL";
NET "dcamp_pdwn_ch2_o" LOC = E11 | IOSTANDARD = "LVTTL";

# ============= ac adc =============
NET "pdwn_a_o" LOC = L23 | IOSTANDARD = "LVCMOS25";
NET "pdwn_b_o" LOC = P24 | IOSTANDARD = "LVCMOS25";

NET "lvds_ovr_a_p_i" LOC = N26 | IOSTANDARD = "LVDS_25";
NET "lvds_ovr_a_n_i" LOC = M26 | IOSTANDARD = "LVDS_25";
NET "lvds_ovr_b_p_i" LOC = B21 | IOSTANDARD = "LVDS_25";
NET "lvds_ovr_b_n_i" LOC = C21 | IOSTANDARD = "LVDS_25";

NET "lvds_dclk_a_p_i" LOC = AC17 | IOSTANDARD = "LVDS_25";
NET "lvds_dclk_a_n_i" LOC = AB16 | IOSTANDARD = "LVDS_25";
NET "lvds_dclk_b_p_i" LOC = AC18 | IOSTANDARD = "LVDS_25";
NET "lvds_dclk_b_n_i" LOC = AB17 | IOSTANDARD = "LVDS_25";

NET "lvds_data_a_p_i<0>" LOC = P25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_i<0>" LOC = R25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_i<1>" LOC = P26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_i<1>" LOC = R26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_i<2>" LOC = U25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_i<2>" LOC = T25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_i<3>" LOC = U26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_i<3>" LOC = V26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_i<4>" LOC = W26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_i<4>" LOC = W25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_i<5>" LOC = Y26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_i<5>" LOC = Y25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_i<6>" LOC = AA25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_i<6>" LOC = AB26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_i<7>" LOC = AB25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_i<7>" LOC = AA24 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_i<8>" LOC = AB24 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_i<8>" LOC = AA23 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_i<9>" LOC = AC26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_i<9>" LOC = AD26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_i<10>" LOC = AD25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_i<10>" LOC = AD24 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_i<11>" LOC = AE25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_i<11>" LOC = AE26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_i<12>" LOC = AF25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_i<12>" LOC = AF24 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_i<13>" LOC = AF23 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_i<13>" LOC = AE23 | IOSTANDARD = "LVDS_25";

NET "lvds_data_b_p_i<0>" LOC = D23 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_i<0>" LOC = C22 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_i<1>" LOC = B22 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_i<1>" LOC = A22 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_i<2>" LOC = A23 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_i<2>" LOC = A24 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_i<3>" LOC = B24 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_i<3>" LOC = C23 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_i<4>" LOC = D24 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_i<4>" LOC = C24 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_i<5>" LOC = B25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_i<5>" LOC = A25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_i<6>" LOC = B26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_i<6>" LOC = C26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_i<7>" LOC = D26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_i<7>" LOC = D25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_i<8>" LOC = E26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_i<8>" LOC = E25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_i<9>" LOC = F25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_i<9>" LOC = G26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_i<10>" LOC = H26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_i<10>" LOC = G25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_i<11>" LOC = J25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_i<11>" LOC = J26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_i<12>" LOC = L24 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_i<12>" LOC = K25 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_i<13>" LOC = K26 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_i<13>" LOC = L25 | IOSTANDARD = "LVDS_25";

# ============= data out =============
NET "lvds_data_a_p_o<0>" LOC = H7 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_o<0>" LOC = G7 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_o<1>" LOC = D5 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_o<1>" LOC = E5 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_o<2>" LOC = F7 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_o<2>" LOC = F8 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_o<3>" LOC = E8 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_o<3>" LOC = E7 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_o<4>" LOC = E6 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_o<4>" LOC = D6 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_o<5>" LOC = A4 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_o<5>" LOC = A3 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_o<6>" LOC = B4 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_o<6>" LOC = B5 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_o<7>" LOC = B6 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_o<7>" LOC = A5 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_o<8>" LOC = C7 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_data_a_n_o<8>" LOC = C6 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_data_a_p_o<9>" LOC = A7 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_data_a_n_o<9>" LOC = B7 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_data_a_p_o<10>" LOC = A9 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_data_a_n_o<10>" LOC = A8 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_data_a_p_o<11>" LOC = B9 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_o<11>" LOC = C8 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_o<12>" LOC = B10 | IOSTANDARD = "LVDS_25"; # Switched N and P lines on PCB
NET "lvds_data_a_n_o<12>" LOC = A10 | IOSTANDARD = "LVDS_25"; # Switched N and P lines on PCB
NET "lvds_data_a_p_o<13>" LOC = F9 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_o<13>" LOC = G9 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_o<14>" LOC = B11 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_n_o<14>" LOC = A12 | IOSTANDARD = "LVDS_25";
NET "lvds_data_a_p_o<15>" LOC = C9 | IOSTANDARD = "LVDS_25"; # Switched N and P lines on PCB
NET "lvds_data_a_n_o<15>" LOC = D8 | IOSTANDARD = "LVDS_25"; # Switched N and P lines on PCB
#NET "lvds_ovr_a_p_o" LOC = C9 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
#NET "lvds_ovr_a_n_o" LOC = D8 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_dclk_a_p_o" LOC = D9 | IOSTANDARD = "LVDS_25";
NET "lvds_dclk_a_n_o" LOC = D10 | IOSTANDARD = "LVDS_25";

NET "lvds_data_b_p_o<0>" LOC = G5 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_data_b_n_o<0>" LOC = F5 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_data_b_p_o<1>" LOC = G4 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_data_b_n_o<1>" LOC = H4 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_data_b_p_o<2>" LOC = G6 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_o<2>" LOC = H6 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_o<3>" LOC = J5 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_o<3>" LOC = J6 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_o<4>" LOC = K6 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_data_b_n_o<4>" LOC = K7 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_data_b_p_o<5>" LOC = K8 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_o<5>" LOC = L7 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_o<6>" LOC = K5 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_o<6>" LOC = L5 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_o<7>" LOC = M7 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_o<7>" LOC = L8 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_o<8>" LOC = M6 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_o<8>" LOC = N7 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_o<9>" LOC = P6 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_o<9>" LOC = N6 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_o<10>" LOC = N8 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_o<10>" LOC = P8 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_o<11>" LOC = R8 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_o<11>" LOC = R7 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_o<12>" LOC = T5 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_data_b_n_o<12>" LOC = R5 | IOSTANDARD = "LVDS_25";  # Switched N and P lines on PCB
NET "lvds_data_b_p_o<13>" LOC = R6 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_o<13>" LOC = T7 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_o<14>" LOC = U6 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_o<14>" LOC = U5 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_p_o<15>" LOC = U7 | IOSTANDARD = "LVDS_25";
NET "lvds_data_b_n_o<15>" LOC = T8 | IOSTANDARD = "LVDS_25";
#NET "lvds_ovr_b_p_o" LOC = U7 | IOSTANDARD = "LVDS_25";
#NET "lvds_ovr_b_n_o" LOC = T8 | IOSTANDARD = "LVDS_25";
NET "lvds_dclk_b_p_o" LOC = Y6 | IOSTANDARD = "LVDS_25";
NET "lvds_dclk_b_n_o" LOC = Y5 | IOSTANDARD = "LVDS_25";

NET "lvds_dry_p_o" LOC = V6  | IOSTANDARD = "LVDS_25";
NET "lvds_dry_n_o" LOC = V7  | IOSTANDARD = "LVDS_25";


# PlanAhead Generated physical constraints 
#INST "adq2xx_sandbox_inst/counter_test_pattern_alg" AREA_GROUP = "pblock_cntr_tst_ptrn_alg";
#AREA_GROUP "pblock_cntr_tst_ptrn_alg" RANGE=SLICE_X24Y50:SLICE_X35Y69;
#AREA_GROUP "pblock_cntr_tst_ptrn_alg" RANGE=DSP48_X3Y20:DSP48_X3Y27;
#AREA_GROUP "pblock_cntr_tst_ptrn_alg" RANGE=RAMB36_X2Y10:RAMB36_X2Y13;